@media screen and (min-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
    }

    #menu {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    section:last-child {
        grid-column: span 2;
    }
}